<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<button class="button_main"><span>LOGO OR NAME</span></button>
	<div class="test"></div>
	<canvas id="visualizer1" width="500" height="150"></canvas>
	<canvas id="visualizer2" width="500" height="150"></canvas>
	<div class="visualContainer">

		<button id="play" data-playing="false">PLAY</button>

		<input type="text"value="" id="songid" style="width:1rem;" />
		<audio id="audioElement" controls></audio>
		<canvas id="visualizer4" width="600" height="600"></canvas>
	</div>
	<button class="record">Record</button>
	
	<script src="script.js"></script>
</body>

</html>