{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
	<div class="test"></div>
	<div class="container">
		<button class="button_main"><span>RECORD</span></button>
		<canvas id="visualizer4" width="600" height="600"></canvas>
	</div>

	<div class="screen-record-container">
		<button id="startBtn" style="--after-display: block;">Record System Audio</button>
	</div>

	<div class="iframe-container"></div>
	<iframe id="song_iframe" style="display: none;" width="560" height="315" src="https://www.youtube.com/embed/BSpR0DJEgxM?amp;start=125"
		title="YouTube video player" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>

	<div style="display: none;" class="song-details">
		<p id="song-name">CYBERphonk</p>
		<p id="song-singer">P.T.Adamczyk</p>
	</div>

    <div >
		<form class="file-upload-form" action="./" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <label for="id_docfile" class="file-upload-label">
              <div class="file-upload-design">
                <svg viewBox="0 0 640 512" height="1em">
                  <path
                    d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"
                  ></path>
                </svg>
                <p>Drag and Drop</p>
                <p>or</p>
                <span class="browse-button">Browse file</span>
              </div>
              {{ form}}
            </label> -->
            {{form}}
            <input type="submit" value="Submit">
        </form>
	</div>

	<div class="test"></div>

    <!-- From Uiverse.io by Fundiman --> 
    
  
  
	
	<script type="text/javascript" src="{% static 'script.js' %}"></script>
</body>

</html>